/* BANNER  */
#banner{   
    height: 100vh;
    position: relative;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 100px 0px;
    background: url(assets/img/bg1.jpeg)no-repeat;
    background-size: cover;

}
.navbar-brand{
    font-weight: 700;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",
    "Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    font-size: 25px !important;
}
.navbar-kita{
    width: 95%;
    background-color: white;
    display: block;
    margin: 0 auto;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}
.nav-link.active{
    font-weight: 700;
}
.img-banner{
    width: 450px;
}
.contact-btn{
    background-color: transparent;
    color: #0c570c !important;
    border: 2px solid #0c570c;
    width: 120px;
    height: 40px;
}
.contact-btn:hover{
    background-color: #093009;
    color: white !important;
}
.banner-title{
    font-size: 60px;
}
.text-container{
    width: 60%;
}
.img-container{
    width: 40%;
}

/* Metode */
#metode{
    /* height: auto; */
    padding: 100px 30px;
    border-top-left-radius: 60px;
    border-end-end-radius: 100px;
    margin-top: -10px;
    position: relative;
    /* background-color:#dcd3ff; */
}

.card-img{
    max-width: 40px;
}

.img-bg{
    background: #4b1f0e17;
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}

.info-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.metode-card{
    color: #4B1F0E;
    transition: ease 0.5s;
}
.metode-card:hover{
    background-color: #093009;
    color: white;
    border-radius: 20px;
}
.metode-card:hover .img-bg{
    background-color: rgba(255, 255, 255, 0.123);
}
/* Menu */
#menu{
    margin-top: -50px;
    background: linear-gradient(45deg, #093009,#0c570c );
}
.img-menu{
    display: block;
    margin: 0 auto;
}
#frame-menu{
    height: 90px;
    background: transparent;
    display: block;
    margin-bottom: 40px;
    justify-items: center;
    border-radius: 10px;
    padding-inline-start: 100px;
    transition: ease 1s;
}
.menu-card{
    background-color: rgba(255, 255, 255, 0.205) !important;
}

/* Ulasan Section */
#ulasan{
    background: linear-gradient(45deg, #093009,#0c570c);
}

/* Diskon Terselubung */
#diskon{
    background: #fff;
}
.card-diskon{
    background: linear-gradient(45deg, #093009,#0c570c);
}

/* Kontak Session */
#kontak{
    background: linear-gradient(45deg, #093009,#0c570c);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.order-btn{
    background-color: #0c570c;
    color: #fff !important;
    border: 2px solid #0c570c;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    transition: ease 0.4s;
    text-decoration: none;
}

.order-btn:hover{
    background-color: #fff;
    color: #0c570c !important;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
    .nav-rr{
        padding: 0px 0px !important;
        justify-content: space-between !important;
    }
    .img-banner{
        width: 100% !important;
    }
    .banner-title{
        font-size: xxx-large !important;
    }
    .fs-5{
        font-size: large !important;
    }
}

@media screen and (min-width: 550px) and (max-width: 767px){
    #banner{
        display: flex !important;
        flex-direction: column-reverse !important;
        height: auto !important;
        padding: 110px 0px 30px 0px !important;
    }
    .text-container{
        flex-basis: 100% !important;
        width: 100% !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
    .img-container{
        flex-basis: 100% !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .banner-title{
        font-size: 50px;
    }
    .banner-desc{
        text-align: center;
    }
    #metode{
        margin-top: 0px !important;
    }
    .display-frame{
        height: auto;
    }
}

@media screen and (max-width: 549px) {
    #banner{
        display: flex !important;
        flex-direction: column-reverse !important;
        height: auto !important;
        padding: 110px 0px 30px 0px !important;
    }
    .text-container{
        flex-basis: 100% !important;
        width: 100% !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
    .img-container{
        flex-basis: 100% !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .banner-title{
        font-size: 40px;
        text-align: center;
    }
    .banner-desc{
        text-align: center;
        font-size: 25px !important;
    }
    #metode{
        margin-top: 0px;
    }
    .logo-text{
        font-size: 20px;
        margin-left: 0px !important;
    }
    .nav-rr{
        padding: 0px !important;
    }

}

/* Background Color */
.bg-utama{
    background-color: #0c570c;
}
.bg-sekon{
    background-color: #BE7656;
}
.bg-third{
    background-color: #EFC3A4;
}
.bg-darker{
    background-color: #0E0504;
}

/* Font Color */
.fc-utama{
    color: #0c570c;
}
.fc-sekon{
    color: #BE7656;
}
.fc-third{
    color: #EFC3A4;
}
.fc-darker{
    color: #0E0504;
}

/* Choosed Font */
.lobster-font{
    font-family: "Fira Sans",cursive;
}
.cabin-font{
    font-family: "Oxygen",cursive;
}
.balsamiq-font{
    font-family: sans-serif , cursive;
}
.parisianne-font{
    font-family: "Fira Sans", cursive;
}

/* <footer> */

footer{
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

/* @media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
} */
}